.nav{
    font-size: 4rem;
    font-family: 'Piazzolla', serif;
    margin-top:0px;
    height:15vh;
    width: 100vw;
    background-color: rgba(245, 238, 229, 0.68);
    
    display: flex;
    text-align: center;
    flex-direction:row;
    justify-content: space-between;
  }
  .nav>.logo{
    padding:auto;
  }
  .nav>div{
    margin:auto;
  }
  .logo{
    height: 15vh;
    width: 20vw;
  }