
.homepage{
    height:100vh;
    width:100vw;
    background: url('../Home/background0.jpg') no-repeat;
    background-size: cover;
  
  
  
  }

  .Main{
    margin: auto;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
  }